/*
  Theme Name: Door2Door
  Theme URI: http://thedixonbuilds.com
  Author: Jeremy Dixon
  Description: A theme made specifically for the app
*/

/* MAIN ELEMENTS */
.donor_list {
  width: 800px;
  background-color: gray;
}
.donor_wrapper {
  width: 100%;
  float: left;
  border: 3px solid green;
  margin: 5px;
}

.donor_wrapper *{
  float: left;
}

/* INFO WRAPPER AND CONTENTS */
.info_wrapper {
  width: 100%;
  height: 60px;
}

.info_wrapper>div{
  height: 100%;
  background-color: white;
}

.info_wrapper>div>p{
  margin-left: 10px;
  background-color: white;
}

.donor_name {
  width: 20%
}

.donor_name>p {
  font-weight: bold;
}

.donor_address {
  width: 33%
}

.donor_phone {
  width: 15%
}

.donor_last_gift {
  width: 7%
}

.donor_gift_type {
  width: 10%
}

.info_wrapper>.knock {
  text-align: center;
  line-height: 50px;
  box-sizing: border-box;
  border: 2px solid orange;
  color: orange;
  width: 15%;
}

.info_wrapper>.knock_active {
  background-color: orange;
  color: white;
  border-color: white;
}
/* RESPONSE WRAPPER AND CONTENTS */
.response_wrapper {
  background-color: white;
  display: none;
  height: 50px;
  width: 100%;
}

.response_button {
  display: none;
  background-color: gray;
  box-sizing: border-box;
  border: 1px solid black;
  font-weight: bold;
  width: 20%;
  float: right;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 50px;
}
