<div class="contact_wrapper">
  <div class="info_wrapper">
    <div class="contact_name"><h1> Sarah Piper </h1></div>
    <div class="contact_address"><h1> 3194 N Cletus ave</h1></div>
    <div class="contact_phone"><h1> 773-989-1010 </h1></div>
    <div class="contact_amount"><h1>$15 mo current  </h1></div>
    <div class="button knock"><img src="../doorapp/images/fist.svg"></img></div>
  </div>
  <div class="response_wrapper">
    <div class="response_selection">
      <div class="contact button">Contact</div>
      <div class="not_home button">Not Home</div>
      <div class="bad_address button">Bad address</div>
      <div class="listed button">Listed</div>
      <div class="not_listed button">Not Listed</div>
      <div class="giving button">Giving</div>
      <div class="not_giving button">Not Giving</div>
      <div class="money button">Money</div>
      <div class="spouse button">Spouse</div>
      <div class="research">Research<div>
    </div>
  </div>
</div>
